<div class="page-header">
  <h1>Users</h1>
</div>
<div class="col-sm-12">

  <table class="table table-bordered">
    <tr *ngFor="let user of users">
      <td>
        {{user.nickname}}
        <span *ngIf="tokenService.currentUserData && tokenService.currentUserData.id === user.id" class="badge"> It's you!</span>
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        <a [routerLink]="['/users', user.id]" class="btn btn-sm btn-primary"
           *ngIf="!(tokenService.currentUserData && tokenService.currentUserData.id === user.id)">
          See details
        </a>
        <a [routerLink]="['/profile']" class="btn btn-sm btn-success"
           *ngIf="tokenService.currentUserData && tokenService.currentUserData.id === user.id">
          Profile!
        </a>
      </td>
    </tr>
  </table>

</div>
