<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{post.title}}</b></h3>
        <small>
          created by <b>{{post.user.nickname}}</b> at <i>{{post.created_at | date: 'dd.MM.yyyy HH:mm:ss'}}</i>
        </small>
      </div>
      <div class="panel-body">
        <div class="post-body" [innerHTML]="post.body">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="tokenService.currentUserData && tokenService.currentUserData.id === post.user.id">
  <div class="col-sm-12">
    <button class="btn btn-warning" (click)="edit()">
      <span class="glyphicon glyphicon-pencil"></span> Edit
    </button>
    <button class="btn btn-danger" (click)="destroy()">
      <span class="glyphicon glyphicon-trash"></span> Destroy
    </button>
  </div>
</div>

