<div class="page-header">
  <h1>Sign up</h1>
</div>

<div class="col-sm-8">

  <div *ngIf="formSubmitted && serverErrors != undefined && serverErrors.length > 0">
    <div *ngFor="let error of serverErrors">
      <alert type="danger">
        {{error}}
      </alert>
    </div>
  </div>

  <form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm)">

    <div class="form-group">
      <label class="col-sm-3 control-label" for="email">
        Email <sup>*</sup>
      </label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" formControlName="email"
               [ngClass]="{'invalid': !signUpForm.controls.email.valid && formSubmitted}">
        <p class="help-block" *ngIf="!signUpForm.controls.email.valid && formSubmitted" align="start">
          <small *ngIf="signUpForm.controls.email.errors.required" class="text-danger">
            Email can't be empty.
          </small>
          <small *ngIf="signUpForm.controls.email.errors.pattern" class="text-danger">
            Email must be like 'example@mail.com'.
          </small>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="nickname">
        Nickname <sup>*</sup>
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="nickname" id="nickname"
               [ngClass]="{'invalid': !signUpForm.controls.nickname.valid && formSubmitted}">
        <p class="help-block" *ngIf="!signUpForm.controls.nickname.valid && formSubmitted" align="start">
          <small *ngIf="!signUpForm.controls.nickname.valid" class="text-danger">
            Nickname can't be empty.
          </small>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="name">
        Name (Optional)
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
    </div>

    <div formGroupName="passwordGroup">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="password">
          Password <sup>*</sup>
        </label>
        <div class="col-sm-9">
          <input type="password" class="form-control" required formControlName="password" id="password"
                 [ngClass]="{'invalid': signUpForm.controls.passwordGroup.controls.password.invalid && formSubmitted}">
          <p class="help-block" *ngIf="signUpForm.controls.passwordGroup.controls.password.invalid && formSubmitted" align="start">
            <small *ngIf="signUpForm.controls.passwordGroup.controls.password.errors.required" class="text-danger">
              Password is required
            </small>
            <small *ngIf="signUpForm.controls.passwordGroup.controls.password.errors.minlength" class="text-danger">
              Password is short. Minimum 8 symbols.
            </small>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="passwordConfirmation">
          Password Confirmation <sup>*</sup>
        </label>
        <div class="col-sm-9">
          <input type="password" class="form-control" required formControlName="passwordConfirmation" id="passwordConfirmation"
                 [ngClass]="{'invalid': signUpForm.controls.passwordGroup.controls.passwordConfirmation.invalid && formSubmitted}">
          <p class="help-block" *ngIf="signUpForm.controls.passwordGroup.controls.passwordConfirmation.invalid && formSubmitted" align="start">
            <small *ngIf="!signUpForm.controls.passwordGroup.controls.passwordConfirmation.valid" class="text-danger">
              Password Confirmation is required. Password Confirmation must equal with password.
            </small>
          </p>
        </div>
      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-3">
        <button class="btn btn-primary" type="submit">
          Sign up
        </button>
      </div>
    </div>
  </form>

  <div class="bottom-left">
    Do you have account?
    Please <a href="/sign-in" [routerLink]="['/sign-in']">sign in</a>
  </div>
</div>
