<div class="page-header">
  <h1>Posts</h1>
  <a routerLink="/posts/new" class="btn btn-success" *ngIf="tokenService.currentUserData">
    <span class="glyphicon glyphicon-plus"></span> Create new post
  </a>
</div>

<div class="col-sm-12">
  <!--Ho HO HO-->
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <a [routerLink]="['/posts', post.id]" *ngFor="let post of splitedPosts[currentPage - 1]"
           class="list-group-item">{{post.title}}</a>
      </div>
    </div>
  </div>
  <!--Ho HO HO-->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                  [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" [itemsPerPage]="itemsPerPage"
                  firstText="<<" lastText=">>" previousText="<" nextText=">"></pagination>
    </div>
  </div>
</div>
