<div class="page-header">
  <h1>User Profile</h1>
</div>

<div class="row" *ngIf="tokenService.currentUserData">
  <div class="col-sm-6">
    <table class="table col-sm-6">
      <tr>
        <td>Email:</td>
        <td><b>{{tokenService.currentUserData.email}}</b></td>
      </tr>
      <tr>
        <td>Username:</td>
        <td><b>{{tokenService.currentUserData.nickname}}</b></td>
      </tr>
    </table>
    <button class="btn btn-default" (click)="signOut()">
      Sign out
    </button>
  </div>
</div>
